/* style.css for personal website project */
body{

   background: url("pic18.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background-repeat: repeat-y;
}

h1{
	margin-top: 0; 
}
h4{
	font-size: px;
	color: black;
}
#image1{
	float: right;
	width: 400px;
}
#image1 img{
	width: 400px;
	float: right;
}
#image2{
	width: 500px;
	margin-top: 50px;
}
#image3{
	width:700px;
}
#image4{
	width: 1000px;
}
#image5{
	width: 1000px;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding:0;
	text-align: center;

}

#menu li {
    display: inline;
	font-size: 23px;
}
#content img{
	margin-right: 10px;
}
#content2 img{
	width: 1000px;
}
#image7{
   float:right;
   margin: 0px;
}
#image8{
	float: left;
	margin:0px;
}

#content3{
	font-size: 30px;
}
#container{
	background-color: rgba (255,255,255,0.5);
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

#footer{
	text-align: center;
	border-top: 1px solid black;
	padding-bottom: 1px;
}
#footer p{
	font-size: 75px;
	color: black;
}	
.gmail{
color: black;
}
.whats{
	color: black;
}
h5{
	font-size: 20px;
}
#prog > li{
	color: black;
}
p, ul{
	font-size: 18px;
	font-family: time new roman;
}
#facebook{
	font-size: 25px;
	color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba (255,255,255,0.5);
	text-align: center;
